<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Company Reply  정보 처리 SQL -->
<mapper namespace="com.secondProject.mhk.dao.CompanyReplyMapper">

	<!-- load all the replies of a company -->
	<select id="getAllReplies" parameterType="int" resultType="CompanyReply">
	select
		companyReplyNum 
	    , writer
	    , memberNum
	    , companyNum 
	    , replyMessage 
	    , replyDate 
	    , replyDeletedStatus 
	    , replyDeletedDate
	    , replyDeletedBy 
	    , companyScore 
    from
    	CompanyReply
    where
    	companyNum = #{companyNum}
    	AND
    	replyDeletedStatus = 0
    order by
    	companyReplyNum desc
	</select>
	
	<!-- save the comment about the company -->
	<insert id="addCompanyReply" parameterType="CompanyReply">
	Insert into
		CompanyReply 
		(
	    companyReplyNum 
	    , writer
	    , memberNum
	    , companyNum 
	    , replyMessage 
	    , replyDate 
	    , replyDeletedStatus 
	    , replyDeletedDate
	    , replyDeletedBy 
	    , companyScore 
	    ) values (
		companyReply_seq.nextval
	    , #{writer}
	    , #{memberNum}
	    , #{companyNum}
	    , #{replyMessage}
	    , SYSDATE
	    , 0
	    , SYSDATE
	    , 'N/A'
	    , #{companyScore}
	    )
	</insert>
	
	<!-- delete the comment -->
	<update id="deleteCompanyReply" parameterType="CompanyReply">
	update
		CompanyReply
	set 
		replyDeletedStatus = 1
	    , replyDeletedDate = SYSDATE
	    , replyDeletedBy = #{writer}
	where
		companyReplyNum = #{companyReplyNum}
		AND
		writer = #{writer}
	</update>
	
	<!-- get the average score of the company -->
	<select id="getAvgScore" parameterType="int" resultType="double">
	select 
		AVG(companyScore) as companyScore
	from
		CompanyReply
	where
		companyNum = #{companyNum}
		AND
		replyDeletedStatus = 0
	</select>
	
	<select id="getGrade" parameterType="int" resultType="String">
	select 
		SCORE.RATE
	FROM
		(select 
	        ROUND(AVG(companyScore)) as companyScore
		from
			CompanyReply
		where
			companyNum = #{companyNum}
		) B
		, SCORE
	Where 
		SCORE.SCORE = B.companyScore
	</select>

	<!-- get number of replies  -->
	<select id="getReplies" parameterType="int" resultType="int">
	select
		COUNT(*)
	From
		CompanyReply
	where
		companyNum = #{companyNum}
		AND
		replyDeletedStatus = 0
	</select>
	
</mapper>
