<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Company 정보 처리 SQL -->
<mapper namespace="com.secondProject.mhk.dao.CompanyMapper">
	<insert id="addCompany" parameterType="Company">
	INSERT INTO 
    COMPANY
    (
     companyNum 
    , companyName
    , companyCEO 
    , companyEmail
    , companyPhone 
    
    , companyAddress
    , companyField 
    , companyPayment 
    , companyWorkingTime 
    , companyEmployee
    , companyCapital
    , companyFoundation
    , companyHomepage
    
    , companyRegisteredDate 
    , companyDeletedStatus 
    , companyDeletedBy 
    , companyDeletedTime 
    , companyUpdatedBy 
    , companyUpdatedTime 
    <if test="companyImageFileRoot != null">
    , companyImageFileRoot
    </if>
    ) 
    values 
    (
  company_seq.nextval
    , #{companyName}
    , #{companyCEO}
    , #{companyEmail}
    , #{companyPhone}
    
    , #{companyAddress}
    , #{companyField}
    , #{companyPayment} 
    , #{companyWorkingTime}
    , #{companyEmployee}
    , #{companyCapital}
    , #{companyFoundation}
    , #{companyHomepage}
    
    , SYSDATE
    , 0
    , 'N/A'
    , SYSDATE
    , 'N/A'
    , SYSDATE
    <if test="companyImageFileRoot != null">
    , #{companyImageFileRoot}
    </if>
    )
	</insert>
	
	<!-- Select a Company by CompanyName -->
	<select id="selectOneCompanyByName" parameterType="String" resultType="Company">
	select 
		companyNum 
	    , companyName
	    , companyCEO 
	    , companyEmail
	    , companyPhone 
	    
	    , companyAddress
	    , companyField 
	    , companyPayment 
	    , companyWorkingTime 
	    , companyEmployee
	    , companyCapital
	    , companyFoundation
	    , companyHomepage
	    
	    , companyRegisteredDate 
	    , companyDeletedStatus 
	    , companyDeletedBy 
	    , companyDeletedTime 
	    , companyUpdatedBy 
	    , companyUpdatedTime 
	   
	    , companyImageFileRoot
	 from
	 	Company
	 where
	 	companyName = #{companyName}
	</select>
	
	<!-- Select a Company by CompanyNum -->
	<select id="selectOneCompanyByNum" parameterType="int" resultType="Company">
	select 
		companyNum 
	    , companyName
	    , companyCEO 
	    , companyEmail
	    , companyPhone 
	    
	    , companyAddress
	    , companyField 
	    , companyPayment 
	    , companyWorkingTime 
	    , companyEmployee
	    , companyCapital
	    , companyFoundation
	    , companyHomepage
	    
	    , companyRegisteredDate 
	    , companyDeletedStatus 
	    , companyDeletedBy 
	    , companyDeletedTime 
	    , companyUpdatedBy 
	    , companyUpdatedTime 
	    , companyImageFileRoot
	 from
	 	Company
	 where
	 	companyNum = #{companyNum}
	</select>
	
	<!-- load all the companies in name order-->
	<select id="getAllCompany" resultType="Company">
	select 
		companyNum 
	    , companyName
	    , companyCEO 
	    , companyEmail
	    , companyPhone 
	    
	    , companyAddress
	    , companyField 
	    , companyPayment 
	    , companyWorkingTime 
	    , companyEmployee
	    , companyCapital
	    , companyFoundation
	    , companyHomepage
	    
	    , companyRegisteredDate 
	    , companyDeletedStatus 
	    , companyDeletedBy 
	    , companyDeletedTime 
	    , companyUpdatedBy 
	    , companyUpdatedTime 
	    , companyImageFileRoot
	 from
	 	Company
	 order by
	 	companyNum desc
	</select>
	
	<!-- load all the companies in name order-->
	<select id="getAllCompanyBySearch" parameterType="String" resultType="Company">
	select 
		companyNum 
	    , companyName
	    , companyCEO 
	    , companyEmail
	    , companyPhone 
	    
	    , companyAddress
	    , companyField 
	    , companyPayment 
	    , companyWorkingTime 
	    , companyEmployee
	    , companyCapital
	    , companyFoundation
	    , companyHomepage
	    
	    , companyRegisteredDate 
	    , companyDeletedStatus 
	    , companyDeletedBy 
	    , companyDeletedTime 
	    , companyUpdatedBy 
	    , companyUpdatedTime 
	    , companyImageFileRoot
	 from
	 	Company
	 <if test="_parameter != null">
	 where
	 	companyName like '%'||#{searchName}||'%'
	 </if>
	 order by
	 	companyNum desc
	</select>
	
	<!-- get number of companies -->
	<select id="getNumberOfCompanies" parameterType="String" resultType="int">
	select
		COUNT(*)
	from
	 	Company
	 <if test="_parameter != null">
	 where
	 	companyName like '%'||#{searchName}||'%'
	 	AND
	 	companyDeletedStatus = 0
	 </if>
	</select>
	
	<!-- update the company's information -->
	<update id="updateCompany" parameterType="Company">
	update
		Company
	set
	    companyCEO = #{companyCEO}
	    , companyEmail = #{companyEmail}
	    , companyPhone = #{companyPhone}
	    , companyAddress = #{companyAddress}
	    , companyField = #{companyField}
	    , companyPayment = #{companyPayment}
	    , companyWorkingTime = #{companyWorkingTime} 
	    , companyEmployee = #{companyEmployee}
	    , companyCapital = #{companyCapital}
	    , companyFoundation = #{companyFoundation}
	    , companyHomepage = #{companyHomepage}
	    , companyImageFileRoot = #{companyImageFileRoot}
	where
		companyNum = #{companyNum}
	
	</update>
	
	<!-- delete company -->
	<update id="companyDelete" parameterType="CompanyReply">
	update
		Company
	set
		 companyDeletedStatus = 1
	    , companyDeletedBy = #{writer}
	    , companyDeletedTime = SYSDATE
	where
		companyNum = #{companyNum}
	</update>
</mapper>
