<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SCIT PORTAL 관리자 계정 관련 정보 처리 SQL -->

<mapper namespace="com.scitportalsystem.www.mapper.AdministrateMapper">

<!-- 회원가입 목록 출력  -->
<select id="selectmemberlist" resultType="MemberBasic">
select
		memberNum
		, id		
		, memberClass			
		, name		
		, phone			
		, adminap
	from
		memberbasic
	order by
		memberNum desc
</select>

<!-- 회원가입 승인 -->
<update id="memberApproval" parameterType="string">
	UPDATE 
			memberbasic
		SET 
			adminap = 1
	where
		id = #{id}
</update>		

</mapper>
 