<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SCIT PORTAL 1:1문의  관련 정보 처리 SQL -->
<mapper namespace="com.scitportalsystem.www.mapper.ConsultMapper">

	<!-- 1:1문의 학생용 -->
	<select id="selectAskQuestionStudent" parameterType="hashmap" resultType="AskQuestion">
		select 
			a.AskQuestionNum
			,a.id
			,a.askQuestionReplies
			,a.AskQuestionTitle
			,a.AskQuestionContent
			,a.AskQuestionDate
			,m.name
		from 
			AskQuestion a, MemberBasic m
		where
			a.id = #{id}
			and
			a.id = m.id
		<if test="searchText != null">
			<choose>
	            <when test="searchSelect.equals('AskQuestionTitleContent')">
		            and
		               a.AskQuestionTitle like '%' || #{searchText} || '%'
		               or
		               a.AskQuestionContent like '%' || #{searchText} || '%'         
	            </when>
	            <otherwise>
		            and
		               ${searchSelect} like '%' || #{searchText} || '%'
	            </otherwise>      
        	</choose>
		</if>
		order by 
			AskQuestionNum desc
	</select>
	
	<!-- 페이징 처리 학생용 -->
	<select id="getTotalStudent" parameterType="hashmap" resultType="int">
		select
			count(*)
		from
			AskQuestion
		where
			id = #{id}
		<if test="searchText != null">
			<choose>
	            <when test="searchSelect.equals('tc')">
		            and
		               AskQuestionTitle like '%' || #{searchText} || '%'
		               or
		               AskQuestionContent like '%' || #{searchText} || '%'         
	            </when>
	            <otherwise>
		            and
		               ${searchSelect} like '%' || #{searchText} || '%'
	            </otherwise>      
         </choose>
		</if>
	</select>

	<!-- 1:1문의 전체보기 교사용 -->
	<select id="selectAskQuestionAll" parameterType="hashmap" resultType="AskQuestion">
		select 
			AskQuestionNum
			,id
			,askQuestionReplies
			,AskQuestionTitle
			,AskQuestionContent
			,AskQuestionDate
		from 
			AskQuestion
		<if test="searchText != null">
			<choose>
	            <when test="searchSelect.equals('AskQuestionTitleContent')">
		            where
		               AskQuestionTitle like '%' || #{searchText} || '%'
		               or
		               AskQuestionContent like '%' || #{searchText} || '%'         
	            </when>
	            <otherwise>
		            where
		               ${searchSelect} like '%' || #{searchText} || '%'
	            </otherwise>      
        	</choose>
		</if>
		order by 
			AskQuestionNum desc
	</select>
	
	<!-- 페이징 처리 교사용 -->
	<select id="getTotal" parameterType="hashmap" resultType="int">
		select
			count(*)
		from
			AskQuestion
		<if test="searchText != null">
			<choose>
	            <when test="searchSelect.equals('tc')">
		            where
		               AskQuestionTitle like '%' || #{searchText} || '%'
		               or
		               AskQuestionContent like '%' || #{searchText} || '%'         
	            </when>
	            <otherwise>
		            where
		               ${searchSelect} like '%' || #{searchText} || '%'
	            </otherwise>      
         </choose>
		</if>
	</select>
	
	<!-- 1:1문의 한개 보기 -->
	<select id="selectAskQuestionOne" parameterType="int" resultType="AskQuestion">
		select 
			AskQuestionNum
			,id
			,AskQuestionTitle
			,AskQuestionContent
		from 
			AskQuestion
		where
			AskQuestionNum = #{AskQuestionNum}
	</select>
	
	<!-- 리플 달기 -->
	<insert id="insertReply" parameterType="AskQuestionReply">
		insert into
			AskQuestionReply
			(
				AskQuestionReplyNum
				,AskQuestionNum
				,id
				,text
			)values(
				AskQuestionReplyNum_seq.nextval
				,#{AskQuestionNum}
				,#{id}
				,#{text}
			)			
	</insert>
	
	<!-- 리플 출력 -->
	<select id="selectReplyAll" parameterType="int" resultType="AskQuestionReply">
		select
			a.AskQuestionReplyNum
				,a.AskQuestionNum
				,a.id
				,a.text
				,a.inputdate
				,m.name
		from
			AskQuestionReply a, MemberBasic m
		where
			a.AskQuestionNum = #{AskQuestionNum}
			and
			a.id = m.id	
	</select>
	
		<!-- 리플 삭제 -->
	<delete id="deleteReply" parameterType="AskQuestionReply">
		delete from
			AskQuestionReply
		where
			AskQuestionReplyNum = #{AskQuestionReplyNum}
			and
			id = #{id}
	</delete>
	
		<!-- 1:1 문의 작성 -->
	<insert id="writeAskQuestion" parameterType="AskQuestion">
		insert into
			AskQuestion
			(
				askQuestionNum
				,id
				,askQuestionTitle
				,askQuestionContent
				,deleteBy
			)values(
				askQuestionNum_seq.nextval
				,#{id}
				,#{askQuestionTitle}
				,#{askQuestionContent}
				,#{deleteBy}
			)			
	</insert>
	
		<!-- 리플 갯수 상승 -->
	<select id="updateReplyHits" parameterType="int">
		update
			AskQuestion
		set
			askQuestionReplies = askQuestionReplies+1
		where
			askQuestionNum = #{askQuestionNum}
	</select>
	
	<!-- 리플 갯수 하락 -->
	<select id="deleteReplyHits" parameterType="int">
		update
			AskQuestion
		set
			askQuestionReplies = askQuestionReplies-1
		where
			askQuestionNum = #{askQuestionNum}
	</select>
	

</mapper>
