<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SCIT PORTAL 공지사항  관련 정보 처리 SQL -->
<mapper namespace="com.scitportalsystem.www.mapper.NewsMapper">
	
	<!-- 글 쓰기 -->
	<insert id="writeNews" parameterType="News">
		insert into
			news(
				newsNum
				, id
				, targetAlumni
				, targetClass
				, newsTitle
				, newsHeader
				, newsContent
				, deleteBy
				<if test="newsFileName != null and newsSavedFileName != null">
				, newsFileName
				, newsSavedFileName
				</if>				
			)values(
				newsNum_seq.nextval
				, #{id}
				, #{targetAlumni}
				, #{targetClass}
				, #{newsTitle}
				, #{newsHeader}
				, #{newsContent}
				, #{deleteBy}
				<if test="newsFileName != null and newsSavedFileName != null">
				, #{newsFileName}
				, #{newsSavedFileName}	
				</if>			
			)
	</insert>
	
	
	<!-- 전체 목록 출력 학생용 -->
	<select id="selectNewsAll" parameterType="hashmap" resultType="News">
		select 
			n.newsNum
			,n.newsTitle
			,n.newsHeader
			,n.newsContent
			,n.newsDate
			,n.newsHits
			,n.newsFileName
			,n.newsSavedFileName
			,m.alumni
			,m.classroom
		from
			news n, memberstudent m
			<if test="targetAlumni != null and targetClass != null" >
				where			
					targetAlumni = #{targetAlumni}
					AND 
					targetClass = #{targetClass}
			</if>
		order by
			newsHeader desc
			, newsNum desc
	</select>
	
	<!-- 전체 목록 출력 선생용-->
	<select id="selectNewsTheacher" parameterType="hashmap" resultType="News">
		select 
			n.newsNum
			,n.newsTitle
			,n.newsHeader
			,n.newsContent
			,n.newsDate
			,n.newsHits
			,n.newsFileName
			,n.newsSavedFileName
			,m.alumni
			,m.classroom
		from
			news n, memberstudent m
			<if test="targetAlumni != null and targetClass != null" >
				where			
					targetAlumni = #{targetAlumni}
					AND 
					targetClass = #{targetClass}
			</if>
		order by
			newsHeader desc
			, newsNum desc
	</select>
	
	<!-- 페이징 처리 -->
	<select id="getTotal" parameterType="hashmap" resultType="int">
		select
			count(*)
		from
			news
			<if test="targetAlumni != null and targetClass != null" >
				where			
					targetAlumni = #{targetAlumni}
					AND 
					targetClass = #{targetClass}
			</if>
	</select>
	
	<!-- 전체 하나 보기 -->
	<select id="selectNewsOne" parameterType="int" resultType="News">
		select 
			newsNum
			, newsTitle
			, newsContent
			, newsFileName
			, newsSavedFileName
		from 
			news
		where
			newsNum = #{newsNum}
	</select>
	
	<!-- 글 조회수 업데이트 -->
	<update id="updateHits" parameterType="int">
		update
			news
		set
			newsHits = newsHits+1
		where
			newsNum = #{newsNum}
	</update>
	
</mapper>
