<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SCIT PORTAL 자리배치의  관련 정보 처리 SQL -->

<mapper namespace="com.scitportalsystem.www.mapper.SeatMapper">

	<!-- 임의: 선생님의 정보를 가져오기 
		 이유: 선생님의 담당 기수만 볼 수 있게 하기 위해.
	 -->
	<select id="getStaffInfo" parameterType="String" resultType="MemberStaff">
		select
			id
			, teacherNum
			, inChargeAlumni
			, inChargeSubject
		from
			MemberStaff
		where
			id = #{id}
	</select>
	
	<!-- 회원의 기본 정보 중 회원번호를 불러오기 위한 명령 -->
	<select id="getMemberNum" parameterType="String" resultType="int">
		select 
			memberNum
		from
			memberbasic
		where
			id = #{id}
	</select>
	
	
	
	<!--자리 배치도를 저장하는 명령문  -->
	<insert id="saveSeatInfo" parameterType="SeatPlacement">
		insert into SeatPlacement(
		seatPlacementNum
		, seatCreator
		, seatAlumni
		, seatClassroom
		, seatCount
		, seatContent
		, seatCreatedDate 
		)
		values
		(
		seatPlacementNum_seq.nextval
		, #{seatCreator}
		, #{seatAlumni}
		, #{seatClassroom}
		, #{seatCount}
		, #{seatContent}
		, SYSDATE
		)
	</insert>
	
	<!-- 학사 선생님이 담당하는 기수의 반 배치만 조회하게 하는 sql -->
	<select id="showSeatInfo" parameterType="int" resultType="SeatPlacement">
	select 
		SeatPlacement.seatPlacementNum as seatPlacementNum
		, MemberBasic.name as seatCreatorName
		, SeatPlacement.seatAlumni as seatAlumni
		, SeatPlacement.seatClassroom as seatClassroom
		, SeatPlacement.seatCount as seatCount
		, SeatPlacement.seatContent as seatContent
		, SeatPlacement.seatCreatedDate as seatCreatedDate
	from
		SeatPlacement
		, MemberBasic
	where
		SeatPlacement.seatCreator = #{seatCreator}
		AND
		MemberBasic.memberNum =#{seatCreator}
	order by 	
		SeatPlacement.seatClassroom ASC
	</select>
	
	<!-- 수정하기 위해 하나의 반 배치도를 불러오는 sql -->
	<select id="modifySeatPlacement" parameterType="int" resultType="SeatPlacement">
		select
			seatPlacementNum
			, seatClassroom
			, seatCount
			, seatContent
		from
			SeatPlacement
		where
			seatPlacementNum = #{seatPlacementNum}
	</select>
	
	<!--  반 배치 지우기  -->
	<delete id="deleteSeatInfo" parameterType="int">
		delete from
			SeatPlacement
		where
			seatPlacementNum = #{seatPlacementNum}
	</delete>
	
	
	<!-- 수정 된 반 배치를 DB에 반영하기 -->
	<update id="modifiedSeatSave" parameterType="SeatPlacement">
		update
			SeatPlacement
		set
			seatCount = #{seatCount}
			, seatContent = #{seatContent}
		where
			seatPlacementNum = #{seatPlacementNum}
	</update>

	<!-- 반 배정 받을 학생들을 불러온다 -->
	<select id="seatForStudents" parameterType="int" resultType="SeatStudent">
		select
			MemberStudent.memberstudentNum as memberstudentNum
			, MemberStudent.id as id
			, MemberBasic.name as name
			, MemberBasic.memberSaverPicName as memberSaverPicName
			, MemberStudent.alumni as alumni
			, MemberStudent.classroom as classroom
			, MemberStudent.groupNum as groupNum
			, MemberStudent.seat as seat
		from
			MemberStudent
			, MemberBasic
		where
			MemberStudent.alumni = #{teacherAlumni}
			AND
            MemberStudent.id = MemberBasic.id
	</select>
	
	
</mapper>
