<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SCIT PORTAL 설문조사  관련 정보 처리 SQL -->
 
<mapper namespace="com.scitportalsystem.www.mapper.SurveyMapper">

<select id="countSelectAll" parameterType="int" resultType="Survey">
	select count(*) from 
	(
	select s.surveynum surveynum, s.teachernum teachernum, mb.name name, 
	s.surveytitle surveytitle, 
	TO_CHAR(s.surveywrittendate, 'yyyy-mm-dd') surveywrittendate, 
	TO_CHAR(s.surveystartdate, 'yyyy-mm-dd') surveystartdate, 
	TO_CHAR(s.surveyenddate, 'yyyy-mm-dd') surveyenddate
	from survey s, memberbasic mb, memberstaff ms
	where s.teachernum = 1
	and s.teachernum = ms.teachernum
	and mb.membernum = ms.membernum
	)
</select>

<select id="selectAll" parameterType="int" resultType="Survey">
	select s.surveynum surveynum, s.teachernum teachernum, mb.name name, 
	s.surveytitle surveytitle, 
	TO_CHAR(s.surveywrittendate, 'yyyy-mm-dd') surveywrittendate, 
	TO_CHAR(s.surveystartdate, 'yyyy-mm-dd') surveystartdate, 
	TO_CHAR(s.surveyenddate, 'yyyy-mm-dd') surveyenddate
	from survey s, memberbasic mb, memberstaff ms
	where s.teachernum = 1
	and s.teachernum = ms.teachernum
	and mb.membernum = ms.membernum
</select>

	
</mapper>