@CHARSET "UTF-8";

body, html {
    height: 100%;
    margin: 0;
    cursor: url("../img/cursor.png"), auto;
}

body {
    background-image: url("../img/brief_back.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

#title{
	position: relative;
	text-align: center;
	font-family: 'Arbutus';
	font-size: 90px;

}

p{
	color: white;
	font-family: "Times New Roman", Times, serif;
}

#backButton{
	background-color: #BA7204;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

#backButtonDiv{
	text-align: center;
}

#companyBriefDiv{
	position: relative;
    top: 30%;
    left: 5%;
    width: 88%;
    height: auto;
    border: 5px solid #000000;
    border-style: dotted;

}

#addCompanyDiv{
	text-align: center;
}

#addCompanyButton{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.companyInfoA{
	display: inline-block;"
	color: black;
	font-size : 50px;
	font-weight : bold;
	font-family: "Times New Roman", Times, serif;
}

.companyImage{
	left: -30px;
	display: inline-block;
}

.companyLink{
	 text-decoration: none;
}

.companyInnerDIv{
	text-align: center;
}

#searchButton{
	display: inline-block;
}