@CHARSET "UTF-8";

body, html {
    height: 100%;
    margin: 0;
     cursor: url("../img/cursor.png"), auto;
}

body {
    background-image: url("../img/companyInfo.jpg");
    min-height: 100%;
    background-position: bottom;
    background-repeat: repeat-y;
    background-size: cover;
}

#title{
	position: relative;
	text-align: center;
	font-family: 'Arbutus';
	font-size: 100px;
	top: 1%;
}

p{
	display:inline-block;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

#whole{
	text-align: center;
}

#lower{
	text-align: center;
}

#back{
	background-color: #BA7204;
    border: none;
    color: white;
    padding: 8px 13px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

#bottom{
	text-align: center;
}

#middle{
	font-size: 20px;
}