@CHARSET "UTF-8";

body, html {
    height: 100%;
    margin: 0;
    cursor: url("../img/cursor.png"), auto;
}

body {
    background-image: url("../img/home_background.jpg");
    height: 100%;
    background-position: bottom;
    background-repeat: repeat-y;
    background-size: cover;
}


p {
	color: white;
	font-family: "Times New Roman", Times, serif;
}

#menu {
    position:fixed;
    top: 50%;
    left: 50%;
    width: 280px;
    height:285px;
    margin-top: -9em;
    margin-left: -21em;
    border: 3px solid #ccc;
    background-color: #34372C;
    background-size: cover;
}

#login {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#join {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#view {
	background-color: #51a2f3; 
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#insideMenu{
	margin: 0 auto;
    width: 70%;
}

#title{
	position: relative;
	text-align: center;
	font-family: 'Arbutus';
	font-size: 100px;
	top: 10%;
}

#logout {
	background-color: #FF9200; 
    border: none;
    color: white;
    padding: 10px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
}

#myInfo {
	background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
}


















