@CHARSET "UTF-8";

body, html {
    height: 100%;
    margin: 0;
     cursor: url("../img/cursor.png"), auto;
}

body {
    background-image: url("../img/login_back.jpg");
    height: 100%;
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
}

#title{
	position: relative;
	text-align: center;
	font-family: 'Arbutus';
	font-size: 50px;
	top: 20%;
}

p{
	font-weight : bold;
	font-family: "Times New Roman", Times, serif;
	display:inline-block;
}

#loginForm{
	position: relative;
	text-align: center;
    top: 180px;
    padding : 10px;
}

#inner{
	
}

#innerForm{
	padding: 25px;
}


#login{
	 background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

#image{
	color: red; 
	display:inline-block;
	 font-family: "Times New Roman", Times, serif;
}

#resetButton{
	background-color: #df0623;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#submitButton{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#lowerURLDiv{
	color: red; 
	display:inline-block;
	font-family: "Times New Roman", Times, serif;
}


#previousValueDiv{
	color: red; 
	display:inline-block;
	font-family: "Times New Roman", Times, serif;
}