@CHARSET "UTF-8";

body, html {
    height: 100%;
    margin: 0;
     cursor: url("../img/cursor.png"), auto;
}

body {
    background-image: url("../img/updateCompany.jpg");
    height: 100%;
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
}

#title{
	position: relative;
	text-align: center;
	font-family: 'Arbutus';
	font-size: 50px;
	top: 1%;
}

p{
	color: white;
	font-family: "Times New Roman", Times, serif;
	display:inline-block;
}

#updateCompanyForm{
	position: relative;
    top: 60px;
    left: 48%;
    width: 600px;
    height: auto;
    margin-left: -18em;
    border: 3px solid #ccc;
    background-color: #34372C;
    background-size: cover;
}

#innerForm{
	padding: 25px;
}


#backButton{
	background-color: #BA7204;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

#image{
	color: red; 
	display:inline-block;
	 font-family: "Times New Roman", Times, serif;
}

#resetButton{
	background-color: #df0623;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#submitButton{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#lowerURLDiv{
	color: red; 
	display:inline-block;
	font-family: "Times New Roman", Times, serif;
}


#previousValueDiv{
	color: red; 
	display:inline-block;
	font-family: "Times New Roman", Times, serif;
}