@charset "UTF-8";

html, body {
	margin: 0px;  
	padding: 0px;
	height: 100%;
}    

#modifyBtn {  
	float: left;
	display: block;
	width: 100%;
	height: 5%;
	border: solid gray 1px;
}
 
#canvase {
	float: left;
	display: inline-block;
	position: relative;
	height: 80%;
	width: 100%;
	border: solid red 1px;
}

#leftBtn {
	float: left;
	display: inline-block;
	width: 15%;
	height: 100%;
	border: solid yellow 1px;
	text-align: center;
}

#surveyInfo {
	float: left;
	display: inline-block;
	width: 100%;
	height: 8%;
	border: solid green 1px;
}

#questionWrap {
	float: left;
	display: inline-block;
	width: 69.6%;
	height: 100%;
	position: absolute;
	border: solid blue 1px;
	overflow: scroll;
}

#rightBtn {
	float: right;
	display: inline-block;
	width: 15%;
	height: 100%;
	border: solid purple 1px;
	text-align: center;
}

#saveBtn {
	display: inline-block;
	width: 100%;
	height: 5%;
	text-align: right;
	border: solid cyan 1px;
}

#required {
	color: red;
}

.pages {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	border: solid pink 1px;
}

.questions {
	margin: 1%;
	border: solid lime 1px;
}

