@charset "UTF-8";

html, body {
	margin: 0px;  
	padding: 0px;
	height: 100%;
}     

#modifyBtn {  
	float: left;
	display: block;
	width: 100%;
	height: 5%;
	background-color: #f2f2f2;
	border: solid #e6e6e6 1px;
}
 
#canvase {
	float: left;
	display: inline-block;
	position: relative;
	height: 80%;
	width: 100%;
	background-color: #f2f2f2;
	border: solid #e6e6e6 1px;
}

#leftBtn {
	float: left;
	display: inline-block;
	width: 15%;
	height: 100%;
	background-color: #f2f2f2;
	border: solid #e6e6e6 1px;
	text-align: center;
}

#surveyInfo {
	float: left;
	display: inline-block;
	width: 100%;
	background-color: #f2f2f2;
	border: solid #e6e6e6 1px;
}

#questionWrap {
	float: left;
	display: inline-block;
	width: 70%;
	height: 100%;
	position: absolute;
	background-color: #f2f2f2;
	border: solid #e6e6e6 1px;
	overflow: scroll;
}

#rightBtn {
	float: right;
	display: inline-block;
	width: 15%;
	height: 100%;
	background-color: #f2f2f2;
	border: solid #e6e6e6 1px;
	text-align: center;
}

#saveBtn {
	display: inline-block;
	width: 100%;
	height: 5%;
	text-align: right;
	background-color: #f2f2f2;
	border: solid #e6e6e6 1px;
}

#required {
	color: red;
}

.pages {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #f2f2f2;
	border: solid #e6e6e6 1px;
}

.questions {
	margin: 1%;
	padding: 1%;
}

