@charset "UTF-8";

html, body {
	margin: 0px;  
	padding: 0px;
	height: 100%;
}     

#modifyBtn {  
	
	margin: 1% 0 0 0;
	float: left;
	display: block;
	width: 100%;
	background-color: #4c1213;
}
 
#canvase {
	float: left;
	display: inline-block;
	position: relative;
	height: 80%;
	width: 100%;
	background-color: #f2f2f2;
}

#leftBtn {
	float: left;
	display: inline-block;
	width: 15%;
	height: 100%;
	background-color: #f2f2f2;
	text-align: center;
}

#surveyInfo {
	padding: 1% 0 0 0;
	float: left;
    display: inline-block;
    width: 100%;
    background-color: #4c1213;
    font-size: smaller;
}

table {
    text-align: center;
    margin: auto;
    color: #ffffff;
}

#questionWrap {
	float: left;
	display: inline-block;
	width: 70%;
	height: 100%;
	position: relative;
	background-color: #f2f2f2;
	overflow: scroll;
	font-size: smaller;
}

#rightBtn {
	float: right;
	display: inline-block;
	width: 15%;
	height: 100%;
	background-color: #f2f2f2;
	text-align: center;
}

#saveBtn {
	display: inline-block;
	width: 100%;
	height: 5%;
	text-align: right;
	background-color: #f2f2f2;
}

#required {
	color: red;
}

.pages {
	
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #f2f2f2;
}

.questions {

	margin: auto;
	width: 60%;
	padding: 3%;
}

fieldset {
	
	padding: 2%;
	border-radius: 10px;
}

#pageCount {
	
	position: inherit;
	left: 50%;
}

#nextBtn, #prevBtn {
	
	background: none;
	border: none;
	
}

button {
	
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

select, input[type=text], textarea {
	
	width: 100%;
	height: auto;
}
