@charset "UTF-8";

*{
	margin: 2px;
    padding: 2px;
}

html, body {
	height: 100%;
	background-color: white;
}

#create {
	height: 100%;
	background-color: #f2f2f2;
}

div#ui-datepicker-div {
	border: none;
}

h1 {
	color: #333333;
}

.canvases {
	position: absolute;
	top:0;
	left:0;
	width: 99%;
	height: 98.5%;
	background-color: #d9d9d9;
}

div {
	border: solid #333333 1px;
}

#target {
	display: block;
	width: 99.3%;
	height: 7%;
	float: left;
}

#toolBar {
	display: inline-block;
	width: 7.8%;
	height: 90.7%;
	float: left;
}

#editPage {
	display: inline-block; 
	width: 73%; 
	height: 6%;
	float: left;
}

#surveyCanvas {
	position: relative;
	float: left;
	display: inline-block;
	width: 73%;
	height: 83.5%;
}

#editSurvey {
	display: inline-block;
	width: 17%;
	height: 90.5%;
	clear: both;
}

.tools {
	width: 100px;
	height: 25px;
}

.tools:hover {
	background-color: yellow;
}

.questions {
	border: none;
}

