@charset "UTF-8";

h1 {
	color: blue;
}

ul {
	list-style-type: none;
	border: solid 1px;
}

li {
	border: solid 1px;
	margin: 5px;
}

div {
	width: 300px;
	height: 200px;
	border: solid 1px;
}

.tools {
	width: 100px;
	height: 50px;
	border: solid red 1px;
}

.questions {
	width: 250px;
	height: 100px;
	border: solid blue 1px;
}

.tools:hover {
	background-color: yellow;
}