@charset "UTF-8";
html, body {
	margin: 0px;
    padding: 0px;
	height: 100%;
}

*{
	margin: 2px;
    padding: 2px;
}

h1 {
	color: #333333;
}

fieldset {
	
	border: solid #cc99ff 2px;
	border-radius: 10px;
	background-color: #e6ccff;
	padding: 1%
	
}

.canvases {
	position: absolute;
	top:0;
	left:0;
	width: 99.2%;
	height: 98.8%;
	background-color: #f2e6ff;
}

#create {
	height: 100%;
	background-color: #f2f2f2;
}

#target {
	display: block;
	width: 99.3%;
	float: left;
	background-color: #ffffe6;
}

#toolBar {
	display: inline-block;
	height: 90.3%;
	width: 9.5%;
	float: left;
	background-color: #ffe6f2;
}

#editPage {
	display: inline-block; 
	width: 71%;
	float: left;
	background-color: #e6ffee;
}

#surveyCanvas {
	position: relative;
	float: left;
	display: inline-block;
	width: 71%;
	height: 83.1%;
	background-color: #e6ccff;
}

#editSurvey {
	display: inline-block;
	width: 17.5%;
	height: 90.3%;
	clear: both;
	background-color: #e6f2ff;
}

.tools {
	margin: auto;
	width: 100px;
	height: 25px;
	background-color: #ffcce6;
}

.tools:hover {
	background-color: #ff0080;
}

.questions {
	border: none;
}

