@charset "UTF-8";

.thePageDiv{
	text-align: center;

}

.classroomFront{
	margin:30px;
	border: medium;
	border-style: solid;
}

.seatNum{
	display: inline-block;
	width : 10%;
	height : 150px;
	border: medium;
	border-style: solid;
	align-content: center;
	vertical-align: middle;
}

.corridor{
	display: inline-block;
	width: 4%;
}

.previousClassroom {
	display: inline-block;
	cursor: pointer;
}

.showClassroom{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	display: inline-block;
	width: 100%;
}

.nextClassroom{
	display: inline-block;
	cursor: pointer;
}


.showClassDiv{
	display:inline;
	align-content: center;
}


.blankDiv{
	display: inline-block;
	width:30%;
}

.blankLowerDiv{
	display: inline-block;
	width:15%;
}


.deleteButtonDiv{
	display: inline-block;
}

.fixButtonDiv{
	display: inline-block;
}


.allocateButtonDiv{
	display: inline-block;
}


.studentPhoto{
	display: inline-block;
	border-style: solid;
	width : 90px;
	height: 120px;
}

.studentName{
	
}

.studentListScroll{
	height: 500px;
	overflow: auto;
}

.cell{
	margin: 2px;
	width: auto;
	cursor: pointer;
	
}

.footer{
 text-align: center;	
}

#seatAllocation{
	color: white;
	text-align: left;
	background-color: #7a1705;
	border-bottom: 1px solid #7a1705;
	border-top: 1px solid #7a1705;
    padding: 10px;
    text-align: center;
}

#classname{
	color: white;
	text-align: left;
	background-color: #7a1705;
	border-bottom: 1px solid #7a1705;
	border-top: 1px solid #7a1705;
    padding: 10px;
    text-align: center;
    width: 100%;
    align-content: center;
}

.seatAllocation{
	color: white;
	text-align: left;
	background-color: #7a1705;
	border-bottom: 1px solid #7a1705;
	border-top: 1px solid #7a1705;
    padding: 10px;
    text-align: center;
}

input[type=button]{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 0;
    background-color: #7a1705;
    color: #fff;
    font-size: 16px;
}

input[type=button]:hover{
	border: 2px solid #7a1705;
	background-color: #E9967A;
	color: white;
}

.studentPhoto{
	display: inline-block;
	border-style: solid;
	width : 90px;
	height: 120px;
}

#photo{
	width : 85px;
	height: 115px;
}
