@charset "UTF-8";

.thePageDiv{
	text-align: center;
}

.classroomFront{
	margin:30px;
	border: medium;
	border-style: solid;
}

.seatNum{
	display: inline-block;
	width : 10%;
	height : 150px;
	border: medium;
	border-style: solid;
	align-content: center;
	vertical-align: middle;
}

.corridor{
	display: inline-block;
	width: 4%;
}


.previousClassroom {
	display: inline-block;
	cursor: pointer;
}

.showClassroom{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	display: inline-block;
	width: 100%;
}

.nextClassroom{
	display: inline-block;
	cursor: pointer;
}


.showClassDiv{
	display:inline;
	align-content: center;
}


.blankDiv{
	display: inline-block;
	width:30%;
}

.blankLowerDiv{
	display: inline-block;
	width:15%;
}


.deleteButtonDiv{
	display: inline-block;
}

.fixButtonDiv{
	display: inline-block;
}


.allocateButtonDiv{
	display: inline-block;
}


.studentPhoto{
	display: inline-block;
	border-style: solid;
}

.studentName{
	display: inline-block;
	border-style: solid;
}

.studentListScroll{
	height: 500px;
	overflow: auto;
}

.cell{
	margin: 2px;
	border: thin;
	border-style: solid;
	width: auto;
	cursor: pointer;
	
}






