@charset "UTF-8";

.thePageDiv{
	text-align: center;
}

.showClassDiv{
	display:inline;
	align-content: center;
}

.numberOfSeat{
	display:inline-block;
}

.showClassroom{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	display: inline-block;
	width: 100%;
}

.classInput {
	width: 30px;
}

.classroomFront{
	margin:30px;
	border: medium;
	border-style: solid;
}

.seatNum{
	display: inline-block;
	width : 10%;
	height : 150px;
	border: medium;
	border-style: solid;
	align-content: center;
	vertical-align: middle;
}

.corridor{
	display: inline-block;
	width: 4%;
}

.cancelButtonDiv{
	display: inline-block;
	left:23%;
}

.restartDiv{
	display: inline-block;
	left:50%;
}

.saveButtonDiv{
	display: inline-block;
	left:77%;
}

.blankLowerDiv{
	display: inline-block;
	width:15%;
}


.deleteButtonDiv{
	display: inline-block;
}

.resetButtonDiv{
	display: inline-block;
}

.saveButtonDiv{
	display: inline-block;
}

.cell{
	margin: 2px;
	width: auto;
	cursor: pointer;
	
}

.studentPhoto{
	display: inline-block;
	border-style: solid;
}

.studentName{
	display: inline-block;
}

.footer{
 text-align: center;	
}

#titleName{
	color: white;
	text-align: left;
	background-color: #7a1705;
	border-bottom: 1px solid #7a1705;
	border-top: 1px solid #7a1705;
    padding: 10px;
    text-align: center;
}

#classname{
	color: white;
	text-align: left;
	background-color: #7a1705;
	border-bottom: 1px solid #7a1705;
	border-top: 1px solid #7a1705;
    padding: 10px;
    text-align: center;
}

input[type=button]{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 0;
    background-color: #7a1705;
    color: #fff;
    font-size: 16px;
}

input[type=button]:hover{
	border: 2px solid #7a1705;
	background-color: #E9967A;
	color: white;
}














