@charset "UTF-8";

.thePageDiv{
	text-align: center;
}

.showClassDiv{
	display:inline;
	align-content: center;
}

.studentList {
	top: 50px;
	left: 79%;
	position: fixed;
	width:20%;
	height: 600px;
	background-color: #ffe7e2;
	border: 2px solid black;
	z-index: 10;
}

.showClassroomInfo {
	float: left;
	display: inline-block;
	width: 100%;
	height: auto;
}

.numberOfSeat{
	display:inline;
}

.showClassroom{
	display:inline;
}

.classInput {
	width: 30px;
}

.classroomFront{
	margin:30px;
	border: medium;
	border-style: solid;
}

.seatNum{
	display: inline-block;
	width : 10%;
	height : 150px;
	border: medium;
	border-style: solid;
	align-content: center;
	vertical-align: middle;
}

.corridor{
	display: inline-block;
	width: 4%;
}

.cancelButtonDiv{
	display: inline-block;
	left:23%;
}
.resetButtonDiv{
	display: inline-block;
}

.saveButtonDiv{
	display: inline-block;
	left:77%;
}

.blankLowerDiv{
	display: inline-block;
	width:15%;
}

.resetButtonDiv{
	display: inline-block;
}

.studentPhoto{
	display: inline-block;
	border-style: solid;
	width : 90px;
	height: 120px;
}

#photo{
	width : 85px;
	height: 115px;
}
	
.studentName{
	
}

.studentListScroll{
	height: 400px;
	overflow: auto;
}

.cell{
	margin: 2px;
	width: auto;
	cursor: pointer;
}

.footer{
 text-align: center;	
}

.saveButtonDiv{
	text-align: center;
}

#saveButton{
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: 0;
    background-color: #7a1705;
    color: #fff;
    font-size: 16px;
}

#saveButton:hover{
	border: 2px solid #7a1705;
	background-color: #E9967A;
	color: white;
}

#autoAllocation{
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: 0;
    background-color: #7a1705;
    color: #fff;
    font-size: 16px;
}

#autoAllocation:hover{
	border: 2px solid #7a1705;
	background-color: #E9967A;
	color: white;
}

#noAllocation{
	color: white;
	text-align: left;
	background-color: #7a1705;
	border-bottom: 1px solid #7a1705;
	border-top: 1px solid #7a1705;
    padding: 10px;
    text-align: center;
}

#seatAllocation{
	color: white;
	text-align: left;
	background-color: #7a1705;
	border-bottom: 1px solid #7a1705;
	border-top: 1px solid #7a1705;
    padding: 10px;
    text-align: center;
}

#classname{
	color: white;
	text-align: left;
	background-color: #7a1705;
	border-bottom: 1px solid #7a1705;
	border-top: 1px solid #7a1705;
    padding: 10px;
    text-align: center;
}









