@charset "UTF-8";

table{
	margin: auto; 
}

.return{
	text-align: center;
}

#button{
    width: 50px;
    height: 25px;
    border-radius: 4px;
    border: 0;
    background-color: #7a1705;
    color: #fff;
    font-size: 16px;
}

#button2{
    width: 120px;
    height: 25px;
    border-radius: 4px;
    border: 0;
    background-color: #7a1705;
    color: #fff;
    font-size: 16px;
    
}

#consultReadTh{
	height: 30px;
	width: 500px;
	color: white;
	text-align: left;
	background-color: #7a1705;
	border-bottom: 1px solid #7a1705;
	border-top: 1px solid #7a1705;
}

#consultContent{
	height: 300px;
	width: 500px;
	border-bottom: 1px solid #7a1705;
}

#consultTitle{
	height: 50px;
	width: 500px;
	border-bottom: 1px solid #7a1705;
}


#newTd{
	text-align: left;
	border-bottom: 1px solid #7a1705;
}