@charset "UTF-8";
#mainfont{
	font-size: 50px;
	color: white;
	text-align: center;
	background-color:#7a1705;
	height: 300px;
	width: 360px;
}

#homeButton{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border: 0;
    background-color: #7a1705;
    color: #fff;
    font-size: 50px;
}

#buttonDiv{
	text-align: center;
}

table{
	margin: auto;
	border-right:none;
	border-left:none;
	border-top:none;
	border-bottom:none;
}
#back{
	background-size: contain;
}
