@CHARSET "UTF-8";


.container{
	max-width: 800px;
	margin: 0 auto;

}

 form{
	width: 800px;
	height: 800px;
	margin: 0 auto;
	border-left-color: #990000;
	border-radius: 10px;
}

.joinTable{
	width: 600px;
	height: 600px;
	margin: 0 auto;
	table-layout: fixed;
	text-align: left;
}

.joinInput-id{
	width :200px;
}


.idcheckBtn{
	width: 77px;
	height: 22px;
	text-indent: 0px;
	font-size10px;
	font-weight: 600;
	background-color: #ffffff;
	color: #990000;
	border-radius: 5px;
	border: 2px solid #990000;		
}

.btn_clear{
	margin: 0 auto;
	margin-left: 250px;

}
.btn_clear button{
	width: 100px;
	height: 35px;
	border-radius: 4px;
	border: 0;
	background-color: #990000;
	color: white;
	font-size: 15px;
}

#searchAddress{
	width: 77px;
	height: 22px;
	text-indent: 0px;
	font-size10px;
	font-weight: 600;
	background-color: #ffffff;
	color: #990000;
	border-radius: 5px;
	border: 2px solid #990000;	
}

